.container{
    position: relative;
    width: 400px;
    float: right;
    margin-right: 100px;
    padding: 50px;
    border-width: 5px;
    background-color: khaki;
    border-color: darkgreen;
    margin-top: 80px;
    border-radius: 10px;
}
.footer{
    margin-top: 660px;
    height: 50px;
    background-color: blueviolet;
}
.text{
    margin-top: 10px;
    justify-content: center;
    margin-left: 720px;
    padding: 5px;
    color: cornsilk;
}
.btn{
    padding: 5px;
    margin-top: 10px;
}
.form-control{
    margin-bottom: 5px;
}